<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} - s [or]%
    RewriteCond %{REQUEST_FILENAME} - l [or]%
    RewriteCond %{REQUEST_FILENAME} - d [or]%
    RewriteRule ^.*$ - [NC,L]
    RewriteRule ^.*$ index.php [NC,L]
</IfModule>
